@charset "UTF-8";


.btn {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

.btn btn-primary:hover {
	background: white;
	color: #ff0066;
	border: 1px solid #ff0066;
}

.menubarLi4 {
	color: #ff0066;
}

.subMenuBar {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	border-top:0.5px solid lightgray;
}

.subMenuBar1 {
	width: 49.8%;
	height: 72px;
	display: inline-block;
	border-bottom: 2px solid #ff0066;
	text-align: center;
	font-size: 16px;
	padding-top: 22px;
	background: white;
	margin-left: 2px;
	margin-right: -4px;
}

.subMenuBar2 {
	width: 49.8%;
	height: 72px;
	display: inline-block;
	border-bottom: 2px solid #ff0066;
	text-align: center;
	font-size: 16px;
	padding-top: 22px;
	background:#ff0066;
	color:white;
}

.subMenuBar1:hover {
	width: 49.8%;
	height: 72px;
	display: inline-block;
	border-bottom: 2px solid #ff0066;
	text-align: center;
	font-size: 16px;
	padding-top: 22px;
	background: white;
	color: #ff0066;
	margin-left: 2px;
	margin-right: -4px;
	cursor:pointer;
}

.searchKeywordDiv {
	width: 100%;
	height: 200px;
	padding: 50px;
}

.searchConditionTable {
	width:90%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

.searchConditionTableTd1 {
	width:20%;
	height:50px;
	border-top:0.5px solid darkgray;
	border-bottom:0.5px solid darkgray;
	padding-left:25px;
	background:#F9F9F9;
}

.searchConditionTableTd2 {
	width:70%;
	height:50px;
	border-top:0.5px solid darkgray;
	border-bottom:0.5px solid darkgray;
	padding-left:25px;
}

.searchConditionTableTd3 {
	width:10%;
	height:50px;
	border-top:0.5px solid darkgray;
	border-bottom:0.5px solid darkgray;
	padding-left:25px;
}

.searchKeywordLabel {
	font-size: 20px;
	font-weight: bold;
	color: #ff0066;
	font-family: 'Noto Sans KR', sans-serif;
}

#keywordInput {
	weight:100%;
	height: 30px;
	margin-right:0px !important;
	font-family: 'Noto Sans KR', sans-serif;
}

.searchKeywordBtn {
	width: 50px;
	height: 30px;
	border-style: none;
	background: #ff0066;
	color: white;
}

.searchKeywordBtn:hover {
	width: 50px;
	height: 30px;
	border:0.5px solid #ff0066;
	background: white;
	color: #ff0066;
	cursor:pointer;
}

.badge {
	font-family: 'Noto Sans KR', sans-serif;
	background: #ffe6f3;
}

.searchTrainerListDiv {
	width: 100%;
	height: 100%;
	background: #F9F9F9;
}

.searchTrainerListNullDiv {
	width:100%;
	height:100%;
	background:#F9F9F9;
	text-align:center;
}

.searchTrainerListNullLabel {
	font-family: 'Noto Sans KR', sans-serif;
}


.searchTrainerListDiv {
	width: 100%;
	height: 100%;
	background: whitesmoke;
}

.trainerSelect {
	width: 150px;
	font-family: 'Noto Sans KR', sans-serif;
	border: 0.5px solid darkgray;
	margin-left: 50px;
}

.trainerListDiv {
	width: 90%;
	border: 0.5px solid darkgray;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background: white;
}

.trainerListTable {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: white;
	font-family: 'Noto Sans KR', sans-serif;
}

.profileImg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid white;
	margin-left: auto;
	margin-right: auto;
}

.profileImage {
	width: 100%;
	height: 100%;
}

.trainerListTable td {
	padding: 5px;
	font-size: 14px;
}

.trainerListTableTd1 {
	width: 15%;
	align: center;
}

.trainerListTableTd2 {
	width: 70%;
}

.trainerName {
	font-weight: bold;
}

.trainerGender {
	color: darkgray;
}

.trainerKeyword {
	color: #ff0066;
}

.simpleProfile {
	font-size: 13px;
}

.goProfileDetail {
	border-style: none;
	background: #ff0066;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.goProfileDetail:hover {
	border:0.5px solid #ff0066;
	background:white;
	color:#ff0066;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	cursor:pointer;
}
