@charset "UTF-8";

.menubarLi5 {
	color: #ff0066;
}

#myPageMenu3 {
	background: #ff0066;
	color: white;
}

.searchTrainerListDiv {
	width: 100%;
	height: 100%;
	background: #F9F9F9;
}

.recommendtrainerListNullDiv {
	width:100%;
	height:100%;
	background:#F9F9F9;
	text-align:center;
}

.recommendtrainerListNullLabel {
	font-family: 'Noto Sans KR', sans-serif;
}


.trainerSelect {
	width: 150px;
	font-family: 'Noto Sans KR', sans-serif;
	border: 0.5px solid darkgray;
	margin-left: 50px;
}

.trainerListDiv {
	width: 90%;
	border: 0.5px solid darkgray;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background: white;
	position:relative;
}

.trainerListDiv2 {
	width: 90%;
	border: 1px solid darkgray;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	position:relative;
	top:-130px; 
	left:0px;
	height:130px;
	margin-bottom:-130px;	
	text-align:center;
}

.trainerListDiv2Label{
	font-family: 'Noto Sans KR', sans-serif;
	color:white;
	height:130px;
	line-height:300%;
}

.trainerListTable {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: white;
	font-family: 'Noto Sans KR', sans-serif;
}

.profileImg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid white;
	margin-left: auto;
	margin-right: auto;
}

.profileImage {
	width: 100%;
	height: 100%;
}

.trainerListTable td {
	padding: 5px;
	font-size: 14px;
}

.trainerListTableTd1 {
	width: 15%;
	align: center;
}

.trainerListTableTd2 {
	width: 70%;
}

.trainerName {
	font-weight: bold;
}

.trainerGender {
	color: darkgray;
}

.trainerKeyword {
	color: #ff0066;
}

.simpleProfile {
	font-size: 13px;
}

.goProfileDetail {
	border-style: none;
	background: #ffe6f3;
	color: #ff0066;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.goProfileDetail:hover {
	border:0.5px solid #ff0066;
	background:white;
	color:#ff0066;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	cursor:pointer;
}
.matchingStartBtn {
	border-style: none;
	background: #ff0066;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}
.matchingStartBtn:hover {
	border:0.5px solid #ff0066;
	background:white;
	color:#ff0066;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	cursor:pointer;
}