<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">
	
	<resultMap id="paymentResultSet" type="Payment">
		<id column="PAY_NO" property="payNo"/>		
		<result column="MEMBERSHIP_NO" property="membershipNo"/>		
		<result column="TNO" property="tno"/>		
		<result column="PROCESS" property="process"/>		
		<result column="PAY_TYPE" property="payType"/>		
		<result column="PAY_DATE" property="payDate"/>		
		<result column="REFUND_REASON" property="refundReason"/>		
		<result column="MEMBERSHIP_TYPE" property="membershipType"/>		
		<result column="MEMBERSHIP_COUNT" property="membershipCount"/>		
		<result column="MEMBERSHIP_PRICE" property="membershipPrice"/>	
		<result column="ID" property="userId"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="com.kh.amd.member.model.vo.Member">
		<id column="MNO" property="mno"/> <!-- DB 기본키 -->
		<result column="NAME" property="name"/><!-- 일반컬럼 -->
		<result column="ID" property="userId"/>
		<result column="PWD" property="userPwd"/>
		<result column="PHONE" property="phone"/>
		<result column="GENDER" property="gender"/>
		<result column="EMAIL" property="email"/>
		<result column="MTYPE" property="mtype"/>
		<result column="STATUS" property="status"/>
		<result column="MATCH_TIME" property="matchTime"/>
		<result column="EMAIL_YN" property="emailYn"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="COMPLETE_SURVEY" property="completeSurvey"/>
		<result column="UAGE" property="uage"/>
		<result column="TAGE" property="tage"/>
</resultMap>
	
	<!-- 결제 내역 조회 -->
	<select id="paymentList" resultMap="paymentResultSet">
		SELECT *
		FROM PAYMENT P 
		JOIN MEMBERSHIP USING(MEMBERSHIP_NO)
		JOIN MEMBER M ON(TNO = MNO)
		WHERE PROCESS = '결제완료'
	</select>
	
	<!-- 환불 내역 조회 -->
	<select id="refundList" resultMap="paymentResultSet">
		SELECT *
		FROM PAYMENT P 
		JOIN MEMBERSHIP USING(MEMBERSHIP_NO)
		JOIN MEMBER M ON(TNO = MNO)
		WHERE PROCESS LIKE '%환불%'
	</select>
	
	<!-- 회원 정보 조회 -->
	<select id="userList" resultMap="memberResultSet">
		SELECT M.*, S.UAGE
		FROM MEMBER M
        JOIN SURVEY S ON(MNO = UNO)
		WHERE MTYPE = 'U'
	</select>
	
	<!-- 트레이너 조회 -->
	<select id="trainerList" resultMap="memberResultSet">
		SELECT M.*, I.TAGE
        FROM MEMBER M
        JOIN TUSER_INFO I ON (MNO = TNO)
        WHERE MTYPE = 'T'
	</select>
	
	<!-- 아이디 검색 -->
	<select id="searchUser" resultMap="memberResultSet">
		SELECT M.*, S.UAGE, I.TAGE
		FROM MEMBER M
        LEFT OUTER JOIN SURVEY S ON(MNO = UNO)
        LEFT OUTER JOIN TUSER_INFO I ON(MNO = TNO)
        WHERE ID = #{userId}
	</select>
	
	
	<!-- 카테고리별 검색(회원) -->
	<select id="filteringList" resultMap="memberResultSet">
	SELECT M.*, S.UAGE
		FROM MEMBER M
        JOIN SURVEY S ON(MNO = UNO)
		WHERE MTYPE = 'U'
	    <choose>
			<when test = "category == 'gender'">
				AND GENDER = #{keyword}
			</when>
			<when test = "category == 'age'">
				AND UAGE = #{keyword}
			</when>	
		</choose>
	</select>
	
	<!-- 카테고리별 검색(트레이너) -->
	<select id="T_filteringList" resultMap="memberResultSet">
		SELECT M.*, I.TAGE
        FROM MEMBER M
        JOIN TUSER_INFO I ON (MNO = TNO)
        WHERE MTYPE = 'T'
	    <choose>
			<when test = "category == 'gender'">
				AND GENDER = #{keyword}
			</when>
			<when test = "category == 'age'">
				AND TAGE = #{keyword}
			</when>	
		</choose>
	</select>

	<!-- 카테고리별 검색(환불상태) -->
	<select id="refundStatus" resultMap="paymentResultSet">
		SELECT *
		FROM PAYMENT P 
		JOIN MEMBERSHIP USING(MEMBERSHIP_NO)
		JOIN MEMBER M ON(TNO = MNO)
		WHERE PROCESS LIKE #{keyword}
	</select>
	
	<!-- 환불 요청 승인 -->
	<update id="agree">
		UPDATE PAYMENT
		SET PROCESS = '환불승인'
		WHERE PAY_NO = #{payNo}
	</update>
</mapper>

