<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
<resultMap type="Attachment" id="attachmentResultSet">
	<id property="fileNo" column="FILE_NO"/>
	<result property="bno" column="BNO"/>
	<result property="pno" column="PNO"/>
	<result property="link" column="LINK"/>
	<result property="oriName" column="ORI_NAME"/>
	<result property="modiName" column="MODI_NAME"/>
	<result property="extension" column="EXTENSION"/>
	<result property="fileLevel" column="FILE_LEVEL"/>
	<result property="uploadDate" column="UPLOAD_DATE"/>
	<result property="aType" column="ATYPE"/>
	<result property="aStatus" column="A_STATUS"/>
	<result property="filePath" column="FILE_PATH"/>
</resultMap>


	<!-- 작성자 아이디 가지고 오기 위함 -->
	<resultMap id="member" type="com.kh.amd.member.model.vo.Member">
		<id column="MNO" property="mno" /> <!-- DB 기본키 -->
		<result column="NAME" property="name" /><!-- 일반컬럼 -->
		<result column="ID" property="userId" />
		<result column="PWD" property="userPwd" />
		<result column="PHONE" property="phone" />
		<result column="GENDER" property="gender" />
		<result column="EMAIL" property="email" />
		<result column="MTYPE" property="mtype" />
		<result column="STATUS" property="status" />
		<result column="MATCH_TIME" property="matchTime" />
		<result column="EMAIL_YN" property="emailYn" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="COMPLETE_SURVEY" property="completeSurvey" />
	</resultMap>

	<resultMap id="boardResultSet" type="com.kh.amd.board.model.vo.Board">
		<id property="bNo" column="BNO" />
		<result property="bType" column="BTYPE" />
		<result property="blCategory" column="BL_CATEGORY" />
		<result property="bmCategory" column="BM_CATEGORY" />
		<result property="bsCategory" column="BS_CATEGORY" />
		<result property="bWriteDate" column="BWRITE_DATE" />
		<result property="bModifyDate" column="BMODIFY_DATE" />
		<result property="bTitle" column="BTITLE" />
		<result property="bContent" column="BCONTENT" />
		<result property="bCount" column="BCOUNT" />
		<result property="bLike" column="BLIKE" />
		<result property="bStatus" column="BSTATUS" />
		<result property="bWriter" column="BWRITER" />
		<collection property="member" resultMap="member"/>
		<collection property="attachment" resultMap="attachmentResultSet"/>		
		
		
	</resultMap>
	
	


	<!-- Q&A 입력용(sr) -->
	<insert id="insertQna" parameterType="Board">
		INSERT INTO BOARD(BNO,BTYPE,BWRITE_DATE,BTITLE,BCONTENT,BWRITER)
		VALUES (BNO_SEQ.NEXTVAL, #{bType}, sysdate, #{bTitle},
		#{bContent},#{bWriter})
	</insert>

	<!-- REVIEW 후기 리스트 출력용(SR) -->
	<!-- <select id="selectReview" parameterType="Board"> SELECT* FROM BOARD 
		WHERE BTYPE='5' AND BSTATUS='Y' </select> -->
		
	<!-- review 후기 입력용(sr) -->
	<insert id="insertReview" parameterType="Board">
		<!-- INSERT INTO BOARD(BNO,BTYPE,BWRITE_DATE,BTITLE,BCONTENT)
		VALUES (BNO_SEQ.NEXTVAL,#{bType}, sysdate, #{bTitle},#{bContent}) -->
		INSERT INTO BOARD(BNO,BTYPE,BWRITE_DATE,BTITLE,BCONTENT,BWRITER) 
		VALUES (BNO_SEQ.NEXTVAL,#{bType}, sysdate, #{bTitle},#{bContent},#{bWriter})
	</insert>
	
	<!-- (review) attachment에 bno를 넣기위한 커발  -->
	<select id="selectReviewBno" parameterType="_int" resultType="int">
		SELECT BNO_SEQ.CURRVAL FROM DUAL 
	</select>
	
	<!-- (review) 이미지 insert -->
	<insert id="insertReviewImg" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(FILE_SEQ.NEXTVAL, #{bno}, #{mno}, NULL, #{originalFilename}, #{changeName}, #{ext}, 0, SYSDATE, 5, 'Y', #{filePath}) 
	</insert>



	<!-- 공지사항 리스트 조회(김선아) -->
	<select id="noticeList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE BTYPE = 1 OR BTYPE=2
	</select>

	<!-- 공지사항 상세조회(김선아) -->
	<select id="noticeSelectOne" resultMap="boardResultSet">
		SELECT *
		FROM (SELECT *FROM BOARD WHERE BTYPE = 1 OR BTYPE=2)
		WHERE BNO = #{bNo}
	</select>

	<!-- 공지사항 조회수 증가(김선아) -->
	<update id="increaseViewcnt">
		UPDATE BOARD SET BCOUNT = BCOUNT + 1
		WHERE BNO = #{bNo}
	</update>

	<!-- 공지사항 글등록(김선아) -->
	<insert id="insertNotice">
		INSERT INTO BOARD
		VALUES(BNO_SEQ.NEXTVAL, 1, #{blCategory}, #{bmCategory}, #{bsCategory}, SYSDATE, NULL,
		#{bTitle}, 1, #{bContent}, 0, NULL, DEFAULT)
	</insert>

	<!-- 글  삭제(김선아) -->
	<delete id="delete">
		DELETE FROM BOARD
		WHERE BNO = #{bNo}
	</delete>

	<!-- 공지사항 수정(김선아) -->
	<update id="updateNotice" parameterType="Board">
		UPDATE BOARD
		SET BTITLE = #{bTitle},
		BCONTENT = #{bContent}
		WHERE BNO = #{bNo}
	</update>

	<!-- 자주 묻는 질문 리스트 조회(김선아) -->
	<select id="FAQlist" resultMap="boardResultSet">
		SELECT B.*, M.ID
		FROM BOARD B
		JOIN MEMBER M ON(BWRITER = MNO)
		WHERE BTYPE = 3
	</select>

 	<!-- 자주 묻는 질문 상세조회(김선아) -->
	<select id="FAQSelectOne" resultMap="boardResultSet">
		SELECT *
		FROM (SELECT * FROM BOARD WHERE BTYPE = 3)
		WHERE BNO = #{bNo}
	</select> 


	<!-- 자주 묻는 질문 글등록(김선아) -->
	<insert id="insertFAQ">
		INSERT INTO BOARD
		VALUES(BNO_SEQ.NEXTVAL, 3, #{blCategory}, #{bmCategory}, NULL, SYSDATE, NULL,
		#{bTitle}, 1, #{bContent}, 0, NULL, DEFAULT)
	</insert>
	
	<!-- 자주 묻는 질문 수정(김선아) -->
	<update id="updateFAQ" parameterType="Board">
		UPDATE BOARD
		SET BTITLE = #{bTitle},
		BCONTENT = #{bContent}
		WHERE BNO = #{bNo}
	</update>
	
	<!-- 1:1문의 리스트 조회(김선아) -->
	<select id="QNAlist" resultMap="boardResultSet">
		SELECT B.*, M.ID
		FROM BOARD B
		JOIN MEMBER M ON(BWRITER = MNO)
		WHERE BTYPE = 4
	</select>

	<!-- 1:1 상세조회(김선아) -->
	<select id="QNASelectOne" resultMap="boardResultSet">
		SELECT B.*, M.ID
		FROM BOARD B
		JOIN MEMBER M ON(BWRITER = MNO)
		WHERE BNO = #{bNo}
  	</select>
  	
  	
  <!-- 	<insert id="insertReview" parameterType="Board">
  	INSERT INTO BOARD(BNO,BTYPE,BWRITE_DATE,BTITLE,BCONTENT,MNO)
  	VALUES (BNO_SEQ.NEXTVAL,#{bType}, sysdate, #{bTitle},#{bContent},#{mno})
  	</insert> -->

  <!-- 사용자 공지사항/이벤트 리스트 출력(sr) -->
  <select id="selectNotice" resultMap="boardResultSet">
  	SELECT * 
  	FROM BOARD
  	WHERE (BTYPE=1 OR BTYPE=2)
  	AND BSTATUS = 'Y'
  </select>	
  
  <!-- 공지사항 CATEGORY만의 리스트 출력(SR) -->
  <select id="selectNoticeCate" resultMap="boardResultSet"> 
	  SELECT *
	  FROM BOARD
	  WHERE BTYPE=1
	  AND BSTATUS='Y'
  </select>
  
  <!-- 이벤트 CATEGORY만의 리스트 출력(SR) -->
  <select id="selectEventCate" resultMap="boardResultSet">
  	  SELECT *
	  FROM BOARD
	  WHERE BTYPE=2
	  AND BSTATUS='Y'
  </select>
  
  <!-- 공지사항/이벤트 게시판 검색 (SR) -->
  <select id="searchResult" resultMap="boardResultSet">
  	SELECT *
  	FROM BOARD
  	WHERE BSTATUS='Y'
  	<choose>
  		<when test="bType == -1">
  			AND (BTYPE = 1 OR BTYPE = 2)
  		</when>
  		<when test="bType == 1">
  			AND BTYPE = 1
  		</when>
  		<when test="bType == 2">
  			AND BTYPE = 2
  		</when>
  	</choose>
  	<choose>
  		<when test="bTitle != null">
  			AND BTITLE LIKE '%' || #{ bTitle } || '%'
  		</when>
  		<when test="bContent != null">
  			AND BCONTENT LIKE '%' || #{ bContent } || '%'
  		</when>
  	</choose>
  </select>
  
  
  <!-- FAQ 게시판 총 제목&내용으로 검색(SR) -->
  <select id="searchResultFaq" resultMap="boardResultSet">
  SELECT * 
  FROM BOARD
  WHERE BSTATUS='Y'
	  <choose>
	  <!-- 	<when test="bTitle != null">
	  		AND BTITLE LIKE '%' || #{bTitle} || '%'
	  	</when>
	  	
	  	<when test="bContent != null">
	  		AND BCONTENT LIKE '%' || #{BcONTENT} || '%'
	  	</when> -->
	  	
	  	<when test="bContent != null">
	  		AND BCONTENT LIKE '%' || #{bTitle} || '%'
	  		AND BCONTENT LIKE '%' || #{bContent} || '%'
	  	</when>
	  	
	  </choose>
  </select>
  
  
  
  
  <!--FAQ 게시판 카테고리별 클릭시 출력(AJAX) (SR)  -->
  <select id="cateResult" parameterType="java.lang.String" resultMap="boardResultSet">
  SELECT *
  FROM BOARD
  WHERE BSTATUS='Y'
  AND BTYPE = 3
  AND BM_CATEGORY = #{ bmCate }
  </select>
  
  
  <!-- 공지사항/이벤트 게시판 검색 (SR) -->
 <!--  <select id="searchResult" resultMap="boardResultSet">
  	SELECT *
  	FROM BOARD
  	WHERE BTYPE=#{bType}
  	AND BSTATUS='Y'
  	<choose>
  		<when test="bTitle != null">
  			AND BTITLE LIKE '%' || #{ bTitle } || '%'
  		</when>
  		<when test="bContent != null">
  			AND BCONTENT LIKE '%' || #{ bContent } || '%'
  		</when>
  	</choose>
  </select>
   -->
  
  
<!-- 공지사항/이벤트 게시물 상세조회(SR) -->
  	<select id="selectOneNotice" resultMap="boardResultSet" parameterType="_int">
  		SELECT *
        FROM (SELECT * FROM BOARD WHERE BTYPE = 1 OR BTYPE=2)
        WHERE BNO = #{bNo}
  	</select>
  	
  	<!-- 사용자 FAQ 리스트 출력(sr) -->
  <select id="selectFaq" resultMap="boardResultSet">
  	SELECT * 
  	FROM BOARD
  	WHERE BTYPE=3
  	AND BSTATUS = 'Y'
  </select>	
  
  <!-- 사용자 후기리뷰 게시판 리뷰 출력(SR) -->
  <select id="selectReview2" resultMap="boardResultSet">
     <!-- SELECT *
    FROM BOARD B,ATTACHMENT A
    WHERE B.BWRITER = A.PNO
    AND BTYPE=5
    AND BSTATUS='Y'
    AND A.PNO=#{Attachment.pNo}
    ORDER BY BWRITE_DATE DESC  -->
    
     SELECT *
    FROM BOARD B
    JOIN ATTACHMENT A ON(B.BNO = A.BNO)
    WHERE BTYPE=5
    AND BSTATUS='Y'
    ORDER BY BWRITE_DATE DESC 
  </select>
 
  
  <!-- 사용자 후기리뷰 상세 게시물 출력 1(SR) -->
  <select id="selectOneReview" resultMap="boardResultSet">
	SELECT *
    FROM  BOARD
    WHERE BTYPE=5
    AND BNO=#{bNo}
  </select>
  
  <!-- 사용자 후기리뷰 상세 게시물 출력 Attachment 2 (SR) -->
 <select id="selectOneAttachment" resultMap="attachmentResultSet">
	  SELECT *
	  FROM ATTACHMENT
	  WHERE ATYPE=5
	  AND BNO=#{bNo}
  </select>
  
  <!-- 공지사항 카테고리 게시물 상세조회(SR) -->
  	<select id="selectOneNoticeCate" resultMap="boardResultSet" parameterType="_int">
  		SELECT *
        FROM (SELECT * FROM BOARD WHERE BTYPE = 1)
        WHERE BNO = #{bNo}
  	</select>
  	
  	
  	 <!-- 이벤트 카테고리 게시물 상세조회(SR) -->
  	<select id="selectOneEventCate" resultMap="boardResultSet" parameterType="_int">
  		SELECT *
        FROM (SELECT * FROM BOARD WHERE BTYPE = 2)
        WHERE BNO = #{bNo}
  	</select>
  
  
  <!-- 공지사항&이벤트 페이지 페이징(SR) -->
  <select id="getSearchNoticeListCount" resultType="_int">
  	SELECT COUNT(*) 
  	FROM BOARD
  	WHERE (BTYPE=1 OR BTYPE=2)
  	AND BSTATUS = 'Y'
  </select>
  
  <!-- 공지사항 카테고리 페이지 페이징(SR) -->
  <select id="getSearchNoticeCateListCount" resultType="_int">
  	  SELECT COUNT(*)
	  FROM BOARD
	  WHERE BTYPE=1
	  AND BSTATUS='Y'
  </select>
  
  <!-- 이벤트 CATEGORY만의 리스트 페이징(SR) -->
  <select id="getSearchEventCateListCount" resultType="_int">
  	  SELECT COUNT(*)
	  FROM BOARD
	  WHERE BTYPE=2
	  AND BSTATUS='Y'
  </select>
  
  <!-- 후기 img insert -->
  
  
  </mapper>

  
  