<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Board">
  	<resultMap type="com.kh.amd.board.model.vo.Board" id="boardResultSet">
  		<id property="bNo" column="BNO"/>
  		<result property="bType" column="BTYPE"/>
  		<result property="blCategory" column="BL_CATEGORY"/>
  		<result property="bmCategory" column="BM_CATEGORY"/>
  		<result property="bWriteDate" column="BWRITE_DATE"/>
  		<result property="bModifyDate" column="BMODIFY_DATE"/>
  		<result property="bTitle" column="BTITLE"/>
  		<result property="bContent" column="BCONTENT"/>
  		<result property="bCount" column="BCOUNT"/>
  		<result property="bLike" column="BLIKE"/>
  		<result property="bStatus" column="BSTATUS"/>
  		<result property="bWriter" column="BWRITER"/>
  	</resultMap>
  	
  

  	
  	<!-- Q&A 입력용(sr) -->
  	<insert id="insertQna" parameterType="Board">
	  	INSERT INTO BOARD(BNO,BTYPE,BWRITE_DATE,BTITLE,BCONTENT,BWRITER)
	  	VALUES (BNO_SEQ.NEXTVAL, #{bType}, sysdate, #{bTitle}, #{bContent},51)
  	</insert>
  	
  	<!-- REVIEW 후기  리스트 출력용(SR) -->
  	<select id="selectReview" parameterType="Board">
  		SELECT*
		FROM BOARD
		WHERE BTYPE='5'
		AND BSTATUS='Y'
  	</select>
  	
  	
  
  </mapper>