<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Diary">


<resultMap type="Attachment" id="attachmentResultSet">
	<id property="fileNo" column="FILE_NO"/>
	<result property="bno" column="BNO"/>
	<result property="pno" column="PNO"/>
	<result property="link" column="LINK"/>
	<result property="oriName" column="ORI_NAME"/>
	<result property="modiName" column="MODI_NAME"/>
	<result property="extension" column="EXTENSION"/>
	<result property="fileLevel" column="FILE_LEVEL"/>
	<result property="uploadDate" column="UPLOAD_DATE"/>
	<result property="aType" column="ATYPE"/>
	<result property="aStatus" column="A_STATUS"/>
	<result property="filePath" column="FILE_PATH"/>
</resultMap>

<resultMap id="member" type="com.kh.amd.member.model.vo.Member">
	<id column="MNO" property="mno"/> <!-- DB 기본키 -->
	<result column="NAME" property="name"/><!-- 일반컬럼 -->
	<result column="ID" property="userId"/>
	<result column="PWD" property="userPwd"/>
	<result column="PHONE" property="phone"/>
	<result column="GENDER" property="gender"/>
	<result column="EMAIL" property="email"/>
	<result column="MTYPE" property="mtype"/>
	<result column="STATUS" property="status"/>
	<result column="MATCH_TIME" property="matchTime"/>
	<result column="EMAIL_YN" property="emailYn"/>
	<result column="ENROLL_DATE" property="enrollDate"/>
	<result column="MODIFY_DATE" property="modifyDate"/>
	<result column="COMPLETE_SURVEY" property="completeSurvey"/>
</resultMap>

<resultMap type="Diary" id="diaryResultSet">
	<id property="bNo" column="BNO"/>
	<result property="bType" column="BTYPE"/>
	<result property="blCategory" column="BL_CATEGORY"/>
	<result property="bmCategory" column="BM_CATEGORY"/>
	<result property="bsCategory" column="BS_CATEGORY"/>
	<result property="bWriteDate" column="BWRITE_DATE"/>
	<result property="bModifyDate" column="BMODIFY_DATE"/>
	<result property="bTitle" column="BTITLE"/>
	<result property="bContent" column="BCONTENT"/>
	<result property="bCount" column="BCOUNT"/>
	<result property="bLike" column="BLIKE"/>
	<result property="bStatus" column="BSTATUS"/>
	<result property="bWriter" column="BWRITER"/>  	
	<collection property="member" javaType="Member" resultMap="member"></collection>	
</resultMap>

<resultMap type="com.kh.amd.board.model.vo.Reply" id="replyResultSet">
	<id column="REP_NO" property="repNo" />
	<result column="BNO" property="bNo"/>
	<result column="REP_WRITER" property="repWriter" />
	<result column="REP_CONTENT" property="repContent" />
	<result column="REP_DATE" property="repDate" />
	<result column="REP_MDATE" property="repMdate" />
	<result column="REP_STATUS" property="repStatus" />
	<collection property="member" resultMap="member"/>
</resultMap>
   
   <!-- 프로필 사진 수정 -->
   <update id="updateDiaryImg" parameterType="java.util.HashMap">
   		UPDATE ATTACHMENT 
   		SET ORI_NAME = #{originalFilename}, 
   			MODI_NAME = #{changeName}, 
   			EXTENSION = #{ext}, 
   			FILE_PATH = #{filePath}, 
   			UPLOAD_DATE = SYSDATE
   		WHERE BNO = #{bno}
   		AND PNO = #{mno}
   </update>
   
   <!-- 다이어리 내용 update -->
   <update id="updateDiary" parameterType="java.util.Map">
   		UPDATE BOARD
   		SET BMODIFY_DATE = SYSDATE,
   			BTITLE = #{d.bTitle},
   			BCONTENT = #{d.bContent}   		
   		WHERE BNO = #{bno}
   		AND BWRITER = #{mno}
   </update>
   
   <!-- 프로필 이미지 존재 여부 확인 -->
   <select id="checkDiaryImg" resultMap="attachmentResultSet" parameterType="Attachment">
   		SELECT FILE_NO, PNO, ORI_NAME, MODI_NAME, EXTENSION, FILE_LEVEL, UPLOAD_DATE, A_STATUS, FILE_PATH  
   		FROM ATTACHMENT 
   		WHERE PNO IN (#{mno}) 
   </select>
 	 	
   
   
   <!-- 다이어리 내용 insert -->
   <insert id="insertDiary" parameterType="java.util.Map">
	  	INSERT INTO BOARD(BNO, BTYPE, BWRITE_DATE, BTITLE, BCONTENT, BWRITER)
	  	VALUES (BNO_SEQ.NEXTVAL, 6, sysdate, #{d.bTitle}, #{d.bContent}, #{mno})
  	</insert>
  	
  	
  	<!-- attachment에 bno를 넣기위한 커발 -->
  	<select id="selectDiaryBno" resultType="_int">
  		SELECT BNO_SEQ.CURRVAL FROM DUAL
  	</select>
  	
  	
   <!-- 다이어리 이미지 insert -->
   <insert id="insertDiaryImg" parameterType="Attachment">
   		INSERT INTO ATTACHMENT 
   		VALUES(FILE_SEQ.NEXTVAL, #{bno}, #{mno}, NULL, #{originalFilename}, #{changeName}, #{ext}, 0, SYSDATE, 3, 'Y', #{filePath})
   </insert>
   
   
  	<!-- 다이어리 list -->
  	<select id="diaryList" resultMap="diaryResultSet">
  		SELECT *
		FROM BOARD
		WHERE BTYPE = 6
		AND BWRITER = #{mno}
        ORDER BY BNO DESC  	
  	</select>
  	
  	<!-- 다이어리 상세조회 -->
  	<select id="selectDetailDiary" resultMap="diaryResultSet">
  		SELECT *
		FROM BOARD
		WHERE BNO = #{bno}
		AND BTYPE = 6
  	</select>
  	
  	<!-- 다이어리 이미지 상세조회 -->
  	<select id="selectAttachmentOne" resultMap="attachmentResultSet">
  		SELECT *
  		FROM ATTACHMENT
  		WHERE BNO = #{bno}
  		AND ATYPE = 3
  	</select>
  	
  	<!-- gallery list -->
  	<select id="galleryList" resultMap="diaryResultSet">
  		SELECT *
		FROM BOARD
		WHERE BTYPE = 6
		AND BWRITER = #{mno}
        
  	</select>
  	
  	<select id="selectGallery" parameterType="Attachment" resultMap="attachmentResultSet">
  		SELECT *
		FROM ATTACHMENT
		WHERE PNO = #{pno}
		ORDER BY UPLOAD_DATE DESC
  	</select>
  	
  	<!-- 댓글 select -->
	<select id="replyList" resultMap="replyResultSet">
	
		SELECT R.*, M.NAME
		FROM BOARD_REPLY R
        JOIN MEMBER M ON(REP_WRITER = MNO)
		WHERE BNO = #{bno}
	</select>
	
	<!-- 댓글 insert -->
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO BOARD_REPLY
		VALUES(REP_SEQ.NEXTVAL, #{bNo}, #{mno}, #{repContent}, SYSDATE, NULL, 'Y')
	</insert>
	
	<!-- 페이징 -->
	<select id="selectDiaryListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BWRITER = #{mno}
	</select>
	
	<!-- 다이어리 delete -->	
	<delete id="deleteDiary">
      DELETE 
      FROM BOARD 
      WHERE BNO = #{bNo}
   </delete>
	
</mapper>


	












