<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Diary">


<resultMap type="Attachment" id="attachmentResultSet">
	<id property="fileNo" column="FILE_NO"/>
	<result property="bno" column="BNO"/>
	<result property="pno" column="PNO"/>
	<result property="link" column="LINK"/>
	<result property="oriName" column="ORI_NAME"/>
	<result property="modiName" column="MODI_NAME"/>
	<result property="extension" column="EXTENSION"/>
	<result property="fileLevel" column="FILE_LEVEL"/>
	<result property="uploadDate" column="UPLOAD_DATE"/>
	<result property="aType" column="ATYPE"/>
	<result property="aStatus" column="A_STATUS"/>
	<result property="filePath" column="FILE_PATH"/>
</resultMap>

   <!-- 프로필 사진 insert (전효정) -->
   <insert id="insertDiaryImg" parameterType="Attachment">
   		INSERT INTO ATTACHMENT VALUES(FILE_SEQ.NEXTVAL, NULL, #{mno}, NULL, #{originalFilename}, #{changeName}, #{ext}, 0, SYSDATE, 0, 'Y', #{filePath})
   </insert>
   
   <!-- 프로필 사진 수정 (전효정) -->
   <update id="modifyDiaryImg" parameterType="Attachment">
   		UPDATE ATTACHMENT SET ORI_NAME = #{originalFilename}, MODI_NAME = #{changeName}, EXTENSION = #{ext}, FILE_PATH = #{filePath}, UPLOAD_DATE = SYSDATE
   </update>  
   
   <!-- 프로필 이미지 존재 여부 확인 (전효정) -->
   <select id="checkDiaryImg" resultMap="attachmentResultSet" parameterType="Attachment">
   		SELECT FILE_NO, PNO, ORI_NAME, MODI_NAME, EXTENSION, FILE_LEVEL, UPLOAD_DATE, A_STATUS, FILE_PATH  FROM ATTACHMENT WHERE PNO IN (#{mno}) 
   </select>
 	 	
   <!-- 프로필 사진 수정 (전효정) -->
   <update id="modifyProfileImg" parameterType="Attachment">
   		UPDATE ATTACHMENT SET ORI_NAME = #{originalFilename}, MODI_NAME = #{changeName}, EXTENSION = #{ext}, FILE_PATH = #{filePath}, UPLOAD_DATE = SYSDATE
   </update>

	
</mapper>


	












