<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mission">


<resultMap type="com.kh.amd.mission.model.vo.Mission" id="missionResultSet">

<id property="missionNo" column="MISSION_NO"/>

<!-- DB 기본키 -->


<result property="tno" column="TNO"/>

<!-- 일반컬럼 -->


<result property="uno" column="UNO"/>

<result property="mDate" column="MDATE"/>

<result property="mTime" column="MTIME"/>

<result property="mType" column="MTYPE"/>

<result property="mContent" column="MCONTENT"/>

<result property="mLink" column="MLINK"/>

<result property="completeYN" column="COMPLETEYN"/>

</resultMap>

<!-- 아침식사 미션등록 -->


<insert id="insertBreakfast" parameterType="Mission"> 
INSERT INTO MISSION VALUES (MISSION_SEQ.NEXTVAL, #{tno}, 2, #{mDate}, '아침', '식단', #{mContent} , null, 'N') 
</insert>

<insert id="insertLunch" parameterType="Mission"> 
INSERT INTO MISSION VALUES (MISSION_SEQ.NEXTVAL, #{tno}, 2, #{mDate}, '점심', '식단', #{mContent} , null, 'N') 
</insert>

<insert id="insertDinner" parameterType="Mission"> 
INSERT INTO MISSION VALUES (MISSION_SEQ.NEXTVAL, #{tno}, 2, #{mDate}, '저녁', '식단', #{mContent} , null, 'N') 
</insert>

<insert id="insertBreakEx" parameterType="Mission"> 
INSERT INTO MISSION VALUES (MISSION_SEQ.NEXTVAL, #{tno}, 2, #{mDate}, '아침', '운동', #{mContent} ,#{mLink}, 'N') 
</insert>

<insert id="insertLunchEx" parameterType="Mission"> 
INSERT INTO MISSION VALUES (MISSION_SEQ.NEXTVAL, #{tno}, 2, #{mDate}, '점심', '운동', #{mContent} ,#{mLink}, 'N') 
</insert>

<insert id="insertDinnerEx" parameterType="Mission"> 
INSERT INTO MISSION VALUES (MISSION_SEQ.NEXTVAL, #{tno}, 2, #{mDate}, '저녁', '운동', #{mContent} ,#{mLink}, 'N') 
</insert>

<select id="selectMission" parameterType="Mission" resultType="Mission">
SELECT MCONTENT,MLINK,COMPLETEYN FROM MISSION WHERE MDATE= #{mDate} AND MTYPE='운동' AND MTIME='아침' 
</select>

<select id="selectLunctMission" parameterType="Mission" resultType="Mission"> 
SELECT MCONTENT,MLINK,COMPLETEYN FROM MISSION WHERE MDATE= #{mDate} AND MTYPE='운동' AND MTIME='점심' 
</select>

<select id="selectDinnerMission" parameterType="Mission" resultType="Mission"> 
SELECT MCONTENT,MLINK,COMPLETEYN FROM MISSION WHERE MDATE= #{mDate} AND MTYPE='운동' AND MTIME='저녁' 
</select>

<select id="selectEatBreakMission" parameterType="Mission" resultType="Mission"> 
SELECT MCONTENT,MLINK,COMPLETEYN FROM MISSION WHERE MDATE= #{mDate} AND MTYPE='식단' AND MTIME='아침' 
</select>

<select id="selectEatLunchMission" parameterType="Mission" resultType="Mission"> 
SELECT MCONTENT,MLINK,COMPLETEYN FROM MISSION WHERE MDATE= #{mDate} AND MTYPE='식단' AND MTIME='점심' 
</select>

<select id="selectEatDinnerMission" parameterType="Mission" resultType="Mission"> 
SELECT MCONTENT,MLINK,COMPLETEYN FROM MISSION WHERE MDATE= #{mDate} AND MTYPE='식단' AND MTIME='저녁' 
</select>


<!-- 미션 수정전, 값 가져오기 ( 아침식단 )  -->
<select id="selectMissionList" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '아침'
AND MTYPE = '식단'
AND TNO=#{tno}
AND UNO=2 
</select>


<select id="selectMissionLunchList" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '점심'
AND MTYPE = '식단'
AND TNO=#{tno}
AND UNO=2
</select>



<select id="selectMissionDinnerList" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '저녁'
AND MTYPE = '식단'
AND TNO=#{tno}
AND UNO=2
</select>

<!-- 미션 수정전, 값 가져오기( 아침 운동 내용 ) -->
<select id="selectBreakEx" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '아침'
AND MTYPE = '운동'
AND TNO=#{tno}
AND UNO=2
</select>

<select id="selectLunchEx" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '점심'
AND MTYPE = '운동'
AND TNO=#{tno}
AND UNO=2
</select> 

<select id="selectDinnerEx" parameterType="Mission" resultMap="missionResultSet"> 
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '저녁'
AND MTYPE = '운동'
AND TNO=#{tno}
AND UNO=2
</select>

<!-- 미션 수정전, 값 가져오기 ( 아침운동 링크 ) -->
<select id="selectMissionExList" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '아침'
AND MTYPE = '운동'
AND TNO=#{tno}
AND UNO=2 
</select>


<select id="selectMissionExLunchList" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '점심'
AND MTYPE = '운동'
AND TNO=#{tno}
AND UNO=2 
</select>


<select id="selectMissionExDinnerList" parameterType="Mission" resultMap="missionResultSet">
SELECT *
FROM MISSION
WHERE MDATE = #{mDate}
AND MTIME = '저녁'
AND MTYPE = '운동' 
AND TNO=#{tno}
AND UNO=2
</select>


<!-- 아침 운동링크 수정 -->
<update id="updateBreakExLink" parameterType="Mission">
UPDATE MISSION
SET MLINK = #{mLink}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update> 




<update id="updateLunchExLink" parameterType="Mission">
UPDATE MISSION
SET MLINK = #{mLink}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>



<update id="updateDinnerExLink" parameterType="Mission">
UPDATE MISSION
SET MLINK = #{mLink}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>


<!-- 정말 미션 수정 ( 아침 식단 내용 ) -->
<update id="updateBreakEat" parameterType="Mission">
UPDATE MISSION
SET MCONTENT = #{mContent}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>

<update id="updateLunchEat" parameterType="Mission"> 
UPDATE MISSION
SET MCONTENT = #{mContent}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>

<update id="updateDinnerEat" parameterType="Mission"> 
UPDATE MISSION
SET MCONTENT = #{mContent}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>


<update id="updateBreakEx" parameterType="Mission"> 
UPDATE MISSION
SET MCONTENT = #{mContent},
    MLINK = #{mLink}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>


<update id="updateLunchEx" parameterType="Mission"> 
UPDATE MISSION
SET MCONTENT = #{mContent},
    MLINK = #{mLink}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>


<update id="updateDinnerEx" parameterType="Mission"> 
UPDATE MISSION
SET MCONTENT = #{mContent},
    MLINK = #{mLink}
WHERE TNO=#{tno}
AND UNO=2
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
</update>




<update id="updateCheckBreak" parameterType="Mission">  <!-- update는 resulType을 적지않는다! -->
UPDATE MISSION
SET COMPLETEYN = #{completeYN}
WHERE UNO=#{uno}
AND TNO=32
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
AND MCONTENT=#{mContent}
</update>




<update id="updateCheckLunch" parameterType="Mission">
UPDATE MISSION
SET COMPLETEYN = #{completeYN}
WHERE UNO=#{uno}
AND TNO=32
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
AND MCONTENT=#{mContent}
</update>



<update id="updateCheckDinner" parameterType="Mission">
UPDATE MISSION
SET COMPLETEYN = #{completeYN}
WHERE UNO=#{uno}
AND TNO=32
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
AND MCONTENT=#{mContent}
</update>



<update id="updateCheckBreakEx" parameterType="Mission">
UPDATE MISSION
SET COMPLETEYN = #{completeYN}
WHERE UNO=#{uno}
AND TNO=32
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
AND MCONTENT=#{mContent}
AND MLINK=#{mLink}
</update>


<update id="updateCheckLunchEx" parameterType="Mission">
UPDATE MISSION
SET COMPLETEYN = #{completeYN}
WHERE UNO=#{uno}
AND TNO=32
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
AND MCONTENT=#{mContent}
AND MLINK=#{mLink}

</update>




<update id="updateCheckDinnerEx" parameterType="Mission">
UPDATE MISSION
SET COMPLETEYN = #{completeYN}
WHERE UNO=#{uno}
AND TNO=32
AND MDATE=#{mDate}
AND MTIME=#{mTime}
AND MTYPE=#{mType}
AND MCONTENT=#{mContent}
AND MLINK=#{mLink}
</update>


<select id="selectMissionResult"  resultMap="missionResultSet"  parameterType="Mission">
SELECT * 
FROM MISSION
WHERE UNO=#{uno}
AND TNO=32
AND MDATE=#{mDate}
ORDER BY 1
</select>


<select id="selectAllCalendar" resultMap="missionResultSet"  parameterType="_int">
SELECT UNO ,MDATE, CASE WHEN 3 = (SELECT COUNT(COMPLETEYN) FROM MISSION MM2 WHERE MM.MDATE = MM2.MDATE AND MM2.MTYPE='식단' AND mm2.COMPLETEYN = 'Y') THEN 'Y' 
                ELSE 'N'
                END
                AS COMPLETEYN
FROM MISSION MM 
JOIN  MEMBER M ON (M.MNO = MM.UNO)
WHERE MM.MTYPE = '식단'
AND UNO = 2
AND M.MTYPE = 'U'
GROUP BY UNO, MDATE
ORDER BY MDATE
</select>




<select id="selectAllExCalender" resultMap="missionResultSet"  parameterType="_int">
SELECT UNO ,MDATE, CASE WHEN 3 = (SELECT COUNT(COMPLETEYN) FROM MISSION MM2 WHERE MM.MDATE = MM2.MDATE AND MM2.MTYPE='운동' AND mm2.COMPLETEYN = 'Y') THEN 'Y' 
                ELSE 'N'
                END
                AS COMPLETEYN
FROM MISSION MM 
JOIN  MEMBER M ON (M.MNO = MM.UNO)
WHERE MM.MTYPE = '운동'
AND UNO = 2
AND M.MTYPE = 'U'
GROUP BY UNO, MDATE
ORDER BY MDATE
</select>
</mapper>