<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mission">


<resultMap id="missionResultSet" type="com.kh.amd.mission.model.vo.Mission">

	<id column="MISSION_NO" property="missionNo"/> <!-- DB 기본키 -->
	<result column="TNO" property="tno"/><!-- 일반컬럼 -->
	<result column="UNO" property="uno"/>
	<result column="MDATE" property="mDate"/>
	<result column="MTIME" property="mTime"/>
	<result column="MTYPE" property="mType"/>
	<result column="MCONTENT" property="mContent"/>
	<result column="MLINK" property="mLink"/>
	<result column="COMPLETEYN" property="completeYN"/>
</resultMap>


<!-- 아침식사 미션등록 -->
<insert id="insertBreakfast" parameterType="Mission">
INSERT INTO MISSION
VALUES (MISSION_SEQ.NEXTVAL, #{tno}, null, #{mDate}, '아침', '식단', #{mContent} , null, 'N') 
</insert> 

<insert id="insertLunch" parameterType="Mission">
INSERT INTO MISSION
VALUES (MISSION_SEQ.NEXTVAL, #{tno}, null, #{mDate}, '점심', '식단', #{mContent} , null, 'N') 
</insert> 

<insert id="insertDinner" parameterType="Mission">
INSERT INTO MISSION
VALUES (MISSION_SEQ.NEXTVAL, #{tno}, null, #{mDate}, '저녁', '식단', #{mContent} , null, 'N') 
</insert> 


<insert id="insertBreakEx" parameterType="Mission">
INSERT INTO MISSION
VALUES (MISSION_SEQ.NEXTVAL, #{tno}, null, #{mDate}, '아침', '운동', #{mContent} ,#{mLink}, 'N') 
</insert> 

<insert id="insertLunchEx" parameterType="Mission">
INSERT INTO MISSION
VALUES (MISSION_SEQ.NEXTVAL, #{tno}, null, #{mDate}, '점심', '운동', #{mContent} ,#{mLink}, 'N') 
</insert> 

<insert id="insertDinnerEx" parameterType="Mission">
INSERT INTO MISSION
VALUES (MISSION_SEQ.NEXTVAL, #{tno}, null, #{mDate}, '저녁', '운동', #{mContent} ,#{mLink}, 'N') 
</insert> 

<select id="selectMission" parameterType="Mission" resultType="Mission">
SELECT MCONTENT,MLINK
FROM MISSION
WHERE MDATE= #{mDate} 
AND MTYPE='운동'
AND MTIME='아침'
</select>
</mapper>