<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Schedule">


<resultMap id="scheduleResultSet" type="com.kh.amd.schedule.model.vo.Schedule">

	<id column="SCHEDULE_NO" property="scheduleNo"/> 
	<result column="UNO" property="uno"/>
	<result column="MTIME" property="mTime"/>
	<result column="MTYPE" property="mType"/>
	<result column="MDATE" property="mDate"/>
	<result column="ONOFF" property="onoff"/>

</resultMap>


<insert id="insertSchedule" parameterType="Map">
INSERT INTO SCHEDULE
VALUES(SCHEDULE_SEQ.NEXTVAL, 2, '아침', '식단', #{mDate}, 'Y')
</insert>

<select id="selectSco" parameterType="_int" resultType="int">
SELECT SCHEDULE_SEQ.CURRVAL
FROM DUAL
</select>
</mapper>