<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Survey">
	<resultMap type="com.kh.amd.survey.model.vo.Survey" id="surveyResultSet">
		<id property="surveyNo" column="SURVEY_NO"/>
		<result property="uNo" column="UNO"/>
		<result property="hopePeriod" column="HOPE_PERIOD"/>
		<result property="hopeBody" column="HOPE_BODY"/>
		<result property="hopeMethod" column="HOPE_METHOD"/>
		<result property="hopeGender" column="HOPE_GENDER"/>
		<result property="hopeAge" column="HOPE_AGE"/>
		<result property="dietFail" column="DIET_FAIL"/>
		<result property="hopeStart" column="HOPE_START"/>
		<result property="dietReason" column="DIET_REASON"/>
		<result property="hopeExercise" column="HOPE_EXERCISE"/>
		<result property="datExercise" column="DAT_EXERCISE"/>
		<result property="datFood" column="DAT_FOOD"/>
		<result property="disease" column="DISEASE"/>
		<result property="dayTime" column="DAY_TIME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="height" column="HEIGHT"/>
		<result property="weight" column="WEIGHT"/>
		<result property="hopeWeight" column="HOPE_WEIGHT"/>
		<result property="uAge" column="UAGE"/>
	</resultMap>
	
	<!-- 첫번째 설문조사 -->
	<insert id="insertSurvey1" parameterType="java.util.Map">		
		INSERT INTO SURVEY (SURVEY_NO, HEIGHT, WEIGHT, HOPE_WEIGHT, UAGE, UNO)
		VALUES (SURVEY_NO_SEQ.NEXTVAL, #{s.height}, #{s.weight}, #{s.hopeWeight}, #{s.uAge}, #{mno})
	</insert>
	
	<!-- 두번째 설문조사 -->	
	<update id="insertSurvey2" parameterType="Survey">
		UPDATE SURVEY
		SET HOPE_PERIOD = #{s.hopePeriod},
			HOPE_BODY = #{s.hopeBody},
			HOPE_METHOD = #{s.hopeMethod},
			HOPE_GENDER = #{s.hopeGender},
			HOPE_AGE = #{s.hopeAge}		
		WHERE UNO = #{mno}
	</update>
	
	<!-- 세번째 설문조사 -->	
	<update id="insertSurvey3" parameterType="Survey">
		UPDATE SURVEY
		SET DIET_FAIL = #{s.dietFail},
			HOPE_START = #{s.hopeStart},
			DIET_REASON = #{s.dietReason},
			HOPE_EXERCISE = #{s.hopeExercise},
			DAT_EXERCISE = #{s.datExercise},
			DAT_FOOD = #{s.datFood},
			DISEASE = #{s.disease},
			DAY_TIME = #{s.dayTime},
			ENROLL_DATE = sysdate			
		WHERE UNO = #{mno}
	</update>
	
	<!-- 설문조사 update -->
	<update id="updateSurvey" parameterType="Survey">
		UPDATE SURVEY
		SET 
			HOPE_PERIOD = #{s.hopePeriod},
			HOPE_BODY = #{s.hopeBody},
			HOPE_METHOD = #{s.hopeMethod},
			HOPE_GENDER = #{s.hopeGender},
			HOPE_AGE = #{s.hopeAge},
			DIET_FAIL = #{s.dietFail},
			HOPE_START = #{s.hopeStart},
			DIET_REASON = #{s.dietReason},
			HOPE_EXERCISE = #{s.hopeExercise},
			DAT_EXERCISE = #{s.datExercise},
			DAT_FOOD = #{s.datFood},
			DISEASE = #{s.disease},
			DAY_TIME = #{s.dayTime},			
			MODIFY_DATE = sysdate,
			HEIGHT = #{s.height},
			WEIGHT = #{s.weight},
			HOPE_WEIGHT = #{s.hopeWeight},
			UAGE = #{s.uAge}
		WHERE UNO = #{mno}
		
	</update>
	
	<select id="listSurvey" resultMap="surveyResultSet">
		SELECT *
		FROM SURVEY, MEMBER
		WHERE UNO = MNO
		AND UNO = #{mno}		

	</select>
	
	
	
	
</mapper> 



