<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Trainer">
  
<resultMap type="com.kh.amd.member.model.vo.TrainerInfo" id="trainerResultSet">
      <id property="mno" column="TNO"/>            <!-- DB 기본키 -->
      <result property="accountName" column="ACCOUNT_NAME"/>
      <result property="bankCode" column="BANKCODE"/>   <!-- 일반컬럼 -->
      <result property="accountNo" column="ACCOUNT_NO"/>
      <result property="tage" column="TAGE"/>
      <result property="topen" column="TOPEN"/>
      <result property="remainNum" column="REMAIN_NUM"/>
 	  
      
</resultMap>
	
   
   <!-- 트레이너 추가 정보 회원가입 -->
   <insert id="insertTrainerInfo" parameterType="TrainerInfo">
   		INSERT INTO TUSER_INFO
   		VALUES(#{mno}, #{accountName}, #{bankCode}, #{accountNo}, null, 'Y', null)
   </insert>
   
  
</mapper>


	













