<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

	<resultMap id="memberResultSet" type="com.kh.amd.member.model.vo.Member">
		<id column="MNO" property="mno" /> 
		<result column="NAME" property="name" />
		<result column="ID" property="userId" />
		<result column="PWD" property="userPwd" />
		<result column="PHONE" property="phone" />
		<result column="GENDER" property="gender" />
		<result column="EMAIL" property="email" />
		<result column="MTYPE" property="mtype" />
		<result column="STATUS" property="status" />
		<result column="MATCH_TIME" property="matchTime" />
		<result column="EMAIL_YN" property="emailYn" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="COMPLETE_SURVEY" property="completeSurvey" />
	</resultMap>
	<resultMap type="com.kh.amd.member.model.vo.TrainerInfo" id="trainerResultSet">
		<id property="tno" column="TNO" /><!-- DB 기본키 -->
		<result property="accountName" column="ACCOUNT_NAME" />
		<result property="bankCode" column="BANKCODE" />
		<result property="accountNo" column="ACCOUNT_NO" />
		<result property="tage" column="TAGE" />
		<result property="topen" column="TOPEN" />
		<result property="remainNum" column="REMAIN_NUM" />
	</resultMap>
	<resultMap type="com.kh.amd.trainer.model.vo.Profile" id="profileResultSet">
		<id property="profileno" column="PROFILE_NO" />
		<result property="tno" column="TNO" />
		<result property="lineProfile" column="LINE_PROFILE" />
		<result property="proTitle" column="PRO_TITLE" />
		<result property="intro" column="INTRO" />
		<result property="media" column="MEDIA" />
		<result property="certificate" column="CERTIPICATE" />
		<result property="keyword" column="KEYWORD" />
	</resultMap>
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="fileNo" column="FILE_NO" />
		<result property="bno" column="BNO" />
		<result property="pno" column="PNO" />
		<result property="link" column="LINK" />
		<result property="oriName" column="ORI_NAME" />
		<result property="modiName" column="MODI_NAME" />
		<result property="extension" column="EXTENSION" />
		<result property="fileLevel" column="FILE_LEVEL" />
		<result property="uploadDate" column="UPLOAD_DATE" />
		<result property="aType" column="ATYPE" />
		<result property="aStatus" column="A_STATUS" />
		<result property="filePath" column="FILE_PATH" />
	</resultMap>
	<resultMap type="com.kh.amd.survey.model.vo.Survey" id="surveyResultSet">
		<id property="surveyNo" column="SURVEY_NO"/>
		<result property="uNo" column="UNO"/>
		<result property="hopePeriod" column="HOPE_PERIOD"/>
		<result property="hopeBody" column="HOPE_BODY"/>
		<result property="hopeMethod" column="HOPE_METHOD"/>
		<result property="hopeGender" column="HOPE_GENDER"/>
		<result property="hopeAge" column="HOPE_AGE"/>
		<result property="dietFail" column="DIET_FAIL"/>
		<result property="hopeStart" column="HOPE_START"/>
		<result property="dietReason" column="DIET_REASON"/>
		<result property="hopeExercise" column="HOPE_EXERCISE"/>
		<result property="datExercise" column="DAT_EXERCISE"/>
		<result property="datFood" column="DAT_FOOD"/>
		<result property="disease" column="DISEASE"/>
		<result property="dayTime" column="DAY_TIME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="height" column="HEIGHT"/>
		<result property="weight" column="WEIGHT"/>
		<result property="hopeWeight" column="HOPE_WEIGHT"/>
		<result property="uAge" column="UAGE"/>
	</resultMap>
	<resultMap type="Mprocess" id="mprocessResultSet">
		<id property="processNo" column="PROCESS_NO"/>
		<result property="estNo" column="EST_NO"/>
		<result property="uno" column="UNO"/>
		<result property="tno" column="TNO"/>
		<result property="matchingLevel" column="MATCHING_LEVEL"/>
		<result property="matchingAccept" column="MATCHING_ACCEPT"/>
		<result property="matchingStatus" column="MATCHING_STATUS"/>
		<result property="processDate" column="PROCESS_DATE"/>
	</resultMap>
	<resultMap id="selectRecommendTrainerList" type="com.kh.amd.member.model.vo.Member">
		<id column="MNO" property="mno" /> 
		<result column="NAME" property="name" />
		<result column="ID" property="userId" />
		<result column="PWD" property="userPwd" />
		<result column="PHONE" property="phone" />
		<result column="GENDER" property="gender" />
		<result column="EMAIL" property="email" />
		<result column="MTYPE" property="mtype" />
		<result column="STATUS" property="status" />
		<result column="MATCH_TIME" property="matchTime" />
		<result column="EMAIL_YN" property="emailYn" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="COMPLETE_SURVEY" property="completeSurvey" />
		<collection property="trainerInfo" column="trainerResultSet" resultMap="trainerResultSet" javaType="TrainerInfo"/>
		<collection property="profile" column="profileResultSet" resultMap="profileResultSet" javaType="Profile"/>
		<collection property="mprocess" column="mprocessResultSet" resultMap="mprocessResultSet" javaType="Mprocess"/>
	</resultMap>
	

	
	<!-- 효정 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- 1. 맞춤 트레이너 리스트 조회 (전효정) -->
	<select id="selectRecommendTrainerList" resultMap="selectRecommendTrainerList">
		SELECT * FROM MEMBER M JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE M.MTYPE = 'T' AND TI.TOPEN = 'Y' AND TI.TAGE = #{hopeAge} AND M.GENDER = #{hopeGender} AND 
		<foreach collection="hopeExerciseArr" item="item" index="index" open="(" separator="OR" close=")" >
			<choose>
				<when test="item != null">
				  P.KEYWORD LIKE '%' || #{item} || '%' 
				</when>
			</choose>
		</foreach>
	</select>
	
	<!-- 2. 설문조사/키워드 조회 (전효정) -->
	<select id="selectSurvey" resultMap="surveyResultSet">
		SELECT * FROM SURVEY WHERE UNO = #{mno}
	</select>
	
	<!-- 3. 셀프 트레이너 검색 리스트 조회 (전효정) -->
	<select id="selectSearchTrainerList" resultMap="selectRecommendTrainerList" parameterType="java.util.Map">
		SELECT * FROM MEMBER M JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE M.MTYPE = 'T' AND TI.TOPEN = 'Y' 
			<if test='searchServiceKeyword != null and !searchServiceKeyword.equals("")'>
				AND P.KEYWORD LIKE '%' || #{searchServiceKeyword} || '%'
			</if>
			<if test='searchTrainerAge != null and searchTrainerAge != "전체"'>
				AND TI.TAGE = #{searchTrainerAge}
			</if>
			<if test='searchTrainerGender != null and searchTrainerGender != "전체"'>
				AND M.GENDER = #{searchTrainerGender}
			</if>
			<if test='searchTrainerName != null and !searchTrainerName.equals("")'>
				AND M.NAME = #{searchTrainerName}
			</if>
	</select>
	
	<!-- 4. 프로필 이미지 존재 여부 확인 메소드 (전효정) -->
	<select id="checkProfileImg" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT FILE_NO, PNO, ORI_NAME, MODI_NAME, EXTENSION, FILE_LEVEL, UPLOAD_DATE, A_STATUS, FILE_PATH FROM ATTACHMENT WHERE PNO IN (#{tno}) AND ATYPE = 0
	</select>
	
	<!-- 5. 프로필 작성 여부 확인 (전효정) -->
	<select id="checkProfile" resultMap="profileResultSet" parameterType="Profile">
		SELECT PROFILE_NO, LINE_PROFILE, PRO_TITLE, INTRO, MEDIA, CERTIPICATE, KEYWORD FROM PROFILE WHERE TNO IN (#{tno})
	</select>
	
	<!-- 6. 미디어 존재 여부 확인 메소드 (전효정) -->
	<select id="checkMediaAttachment" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT * FROM ATTACHMENT WHERE PNO = #{tno} AND ATYPE = 1 AND A_STATUS = 'Y' ORDER BY FILE_NO ASC
	</select>
	
	<!-- 7. 자격증 존재 여부 확인 메소드 (전효정) -->
	<select id="checkCertificationAttachment" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT * FROM ATTACHMENT WHERE PNO = #{tno} AND ATYPE = 2 AND A_STATUS = 'Y' ORDER BY FILE_NO ASC
	</select>
	
	<!-- 8. 마이트레이너 insert (전효정) -->
	<insert id="insertMyTrainer">
		INSERT INTO M_PROCESS VALUES(MPROCESS_SEQ.NEXTVAL, NULL, #{uno}, #{tno}, 0, 'N', '매칭전', SYSDATE)
	</insert>
	
	<!-- 9. 마이트레이너 리스트 조회 (전효정) -->
	<select id="selectMyTrainer" resultMap="selectRecommendTrainerList">
		SELECT * FROM MEMBER M JOIN M_PROCESS MP ON(MP.TNO = M.MNO) JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE MP.UNO = #{mno}
	</select>
	
	<!-- 10. 마이트레이너 존재 여부 확인 (전효정) -->
	<select id="selectOneMyTrainer" resultMap="mprocessResultSet">
		SELECT * FROM M_PROCESS WHERE UNO = #{mno} AND TNO = #{tno}
	</select>
	
	<!-- 11. 마이트레이너 delete (전효정) -->
	<delete id="deleteMyTrainer">
		DELETE FROM M_PROCESS WHERE UNO = #{uno} AND TNO = #{tno}
	</delete>
	

</mapper>