<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

	<resultMap id="memberResultSet" type="com.kh.amd.member.model.vo.Member">
		<id column="MNO" property="mno" /> 
		<result column="NAME" property="name" />
		<result column="ID" property="userId" />
		<result column="PWD" property="userPwd" />
		<result column="PHONE" property="phone" />
		<result column="GENDER" property="gender" />
		<result column="EMAIL" property="email" />
		<result column="MTYPE" property="mtype" />
		<result column="STATUS" property="status" />
		<result column="MATCH_TIME" property="matchTime" />
		<result column="EMAIL_YN" property="emailYn" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="COMPLETE_SURVEY" property="completeSurvey" />
	</resultMap>
	<resultMap type="com.kh.amd.member.model.vo.TrainerInfo" id="trainerResultSet">
		<id property="tno" column="TNO" /><!-- DB 기본키 -->
		<result property="accountName" column="ACCOUNT_NAME" />
		<result property="bankCode" column="BANKCODE" />
		<result property="accountNo" column="ACCOUNT_NO" />
		<result property="tage" column="TAGE" />
		<result property="topen" column="TOPEN" />
		<result property="remainNum" column="REMAIN_NUM" />
	</resultMap>
	<resultMap type="com.kh.amd.trainer.model.vo.Profile" id="profileResultSet">
		<id property="profileno" column="PROFILE_NO" />
		<result property="tno" column="TNO" />
		<result property="lineProfile" column="LINE_PROFILE" />
		<result property="proTitle" column="PRO_TITLE" />
		<result property="intro" column="INTRO" />
		<result property="media" column="MEDIA" />
		<result property="certificate" column="CERTIPICATE" />
		<result property="keyword" column="KEYWORD" />
	</resultMap>
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="fileNo" column="FILE_NO" />
		<result property="bno" column="BNO" />
		<result property="pno" column="PNO" />
		<result property="link" column="LINK" />
		<result property="oriName" column="ORI_NAME" />
		<result property="modiName" column="MODI_NAME" />
		<result property="extension" column="EXTENSION" />
		<result property="fileLevel" column="FILE_LEVEL" />
		<result property="uploadDate" column="UPLOAD_DATE" />
		<result property="aType" column="ATYPE" />
		<result property="aStatus" column="A_STATUS" />
		<result property="filePath" column="FILE_PATH" />
	</resultMap>
	<resultMap type="com.kh.amd.survey.model.vo.Survey" id="surveyResultSet">
		<id property="surveyNo" column="SURVEY_NO"/>
		<result property="uNo" column="UNO"/>
		<result property="hopePeriod" column="HOPE_PERIOD"/>
		<result property="hopeBody" column="HOPE_BODY"/>
		<result property="hopeMethod" column="HOPE_METHOD"/>
		<result property="hopeGender" column="HOPE_GENDER"/>
		<result property="hopeAge" column="HOPE_AGE"/>
		<result property="dietFail" column="DIET_FAIL"/>
		<result property="hopeStart" column="HOPE_START"/>
		<result property="dietReason" column="DIET_REASON"/>
		<result property="hopeExercise" column="HOPE_EXERCISE"/>
		<result property="datExercise" column="DAT_EXERCISE"/>
		<result property="datFood" column="DAT_FOOD"/>
		<result property="disease" column="DISEASE"/>
		<result property="dayTime" column="DAY_TIME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="height" column="HEIGHT"/>
		<result property="weight" column="WEIGHT"/>
		<result property="hopeWeight" column="HOPE_WEIGHT"/>
		<result property="uAge" column="UAGE"/>
	</resultMap>
	<resultMap type="Estimate" id="estimateResultSet">
		<id property="estNo" column="EST_NO" />
		<result property="estName" column="EST_NAME" />
		<result property="estPrice" column="EST_COST" />
		<result property="estDay" column="TRAINING_DAYS" />
		<result property="estContents" column="EST_CONTENTS" />
		<result property="estType" column="EST_TYPE" />
		<result property="tno" column="TNO" />
	</resultMap>
	<resultMap type="Mprocess" id="mprocessResultSet">
		<id property="processNo" column="PROCESS_NO" />
		<result property="uno" column="UNO" />
		<result property="tno" column="TNO" />
		<result property="transferStatus" column="TRANSFER_STATUS" />
		<result property="matchingLevel" column="MATCHING_LEVEL" />
		<result property="matchingAccept" column="MATCHING_ACCEPT" />
		<result property="matchingStatus" column="MATCHING_STATUS" />
		<result property="processDate" column="PROCESS_DATE" />
		<result property="matchEstName" column="MATCH_EST_NAME" />
		<result property="matchEstDay" column="MATCH_EST_DAY" />
		<result property="matchEstContents" column="MATCH_EST_CONTENTS" />
		<result property="matchEstPrice" column="MATCH_EST_PRICE" />
		<collection property="matchEstimate" column="estimateResultSet" resultMap="estimateResultSet" javaType="Estimate" />
	</resultMap>
	<resultMap id="selectRecommendTrainerList" type="com.kh.amd.member.model.vo.Member">
		<id column="MNO" property="mno" /> 
		<result column="NAME" property="name" />
		<result column="ID" property="userId" />
		<result column="PWD" property="userPwd" />
		<result column="PHONE" property="phone" />
		<result column="GENDER" property="gender" />
		<result column="EMAIL" property="email" />
		<result column="MTYPE" property="mtype" />
		<result column="STATUS" property="status" />
		<result column="MATCH_TIME" property="matchTime" />
		<result column="EMAIL_YN" property="emailYn" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="COMPLETE_SURVEY" property="completeSurvey" />
		<collection property="trainerInfo" column="trainerResultSet" resultMap="trainerResultSet" javaType="TrainerInfo"/>
		<collection property="profile" column="profileResultSet" resultMap="profileResultSet" javaType="Profile"/>
		<collection property="mprocess" column="mprocessResultSet" resultMap="mprocessResultSet" javaType="Mprocess"/>
	</resultMap>
	
	<resultMap id="boardResultSet" type="com.kh.amd.board.model.vo.Board">
		<id property="bNo" column="BNO" />
		<result property="bType" column="BTYPE" />
		<result property="blCategory" column="BL_CATEGORY" />
		<result property="bmCategory" column="BM_CATEGORY" />
		<result property="bsCategory" column="BS_CATEGORY" />
		<result property="bWriteDate" column="BWRITE_DATE" />
		<result property="bModifyDate" column="BMODIFY_DATE" />
		<result property="bTitle" column="BTITLE" />
		<result property="bContent" column="BCONTENT" />
		<result property="bCount" column="BCOUNT" />
		<result property="bLike" column="BLIKE" />
		<result property="bStatus" column="BSTATUS" />
		<result property="bWriter" column="BWRITER" />
		
	</resultMap>
	
	
	
	
	<resultMap type="com.kh.amd.board.model.vo.Reply"
		id="replyResultSet">

		<id column="REP_NO" property="repNo" />
		<result column="BNO" property="bNo" />
		<result column="REP_WRITER" property="repWriter" />
		<result column="REP_CONTENT" property="repContent" />
		<result column="REP_DATE" property="repDate" />
		<result column="REP_MDATE" property="repMdate" />
		<result column="REP_STATUS" property="repStatus" />
		
	</resultMap>
	
	<resultMap type="TrainerReview" id="TrainerReviewResultSet">
		<id column="TRNO" property="trno"/>
		<result column="TNO" property="tno"/>
		<result column="REVIEW_WRITE_DATE" property="writeDate"/>
		<result column="REVIEW_TITLE" property="title"/>
		<result column="REVIEW_WRITER" property="writer"/>
		<result column="REVIEW_CONTENT" property="content"/>
		<result column="STAR_POINT" property="starPoint"/>
		<result column="REVIEW_RATING" property="reviewRating"/>
		<result column="REVIEW_LEVEL" property="reviewLevel"/>
		<result column="WRITER_NAME" property="name"/>
		<collection property="attachment" resultMap="attachmentResultSet" javaType="Attachment"/>
			
	
	</resultMap>
	
	<!-- 나의 문의 내역 select (우리나) -->
	<select id="selectMyQnaList" parameterType="_int" resultMap="boardResultSet" >
		SELECT *
		FROM BOARD 
		WHERE BWRITER=#{mno2}
		AND BTYPE=4
		ORDER BY BWRITE_DATE DESC
	</select>
	
	<select id="selectMyQnaDetail" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE BNO=#{bno2}
	</select>

	<select id="selectQnaReply" parameterType="_int" resultMap="replyResultSet">
		SELECT * 
		FROM BOARD_REPLY
		WHERE BNO=#{bno2}
	</select>
	
	<!-- 후기리스트 조회 -->
	<select id="selectMyBoardList" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE BWRITER=#{mno2}
		AND BTYPE=5
		AND BSTATUS='Y'
		ORDER BY BWRITE_DATE DESC
		
	</select>
  
  <select id="selectOneReview" parameterType="_int" resultMap="boardResultSet">
      SELECT *
      FROM BOARD
      WHERE  BTYPE=5
      AND BSTATUS='Y'
      AND BNO =#{bno2}
   </select>
  
  <select id="selectOneAttachment"  parameterType="_int" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
   		WHERE BNO=#{bno2}
   		AND ATYPE=5
	</select>
	
	
	<update id="updateMyReview" parameterType="Board">
		UPDATE BOARD
		SET BTITLE =#{bTitle} ,
			BCONTENT = #{bContent}
		WHERE BNO = #{bNo}
	</update>

	<update id="updateMyReviewAttachment" parameterType="Attachment">
		UPDATE ATTACHMENT
		SET ORI_NAME = #{oriName}, 
			MODI_NAME = #{modiName}, 
			EXTENSION = #{extension}, 
			FILE_PATH = #{filePath}, 
			UPLOAD_DATE = SYSDATE
		WHERE BNO = #{bno}
	</update>
	
	<delete id="deleteMyReview" parameterType="_int">
		DELETE
		FROM BOARD
		WHERE BNO=#{bno2}
	</delete>
	
	<select id="qnaListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
  		FROM BOARD
  		WHERE BWRITER = #{mno2}
  		AND BTYPE=4
	</select>
	
	
	<select id="reviewListCount"  parameterType="_int" resultType="_int">
		SELECT COUNT(*)
  		FROM BOARD
  		WHERE BWRITER = #{mno2}
  		AND BTYPE=5
	</select>
	
	<!-- 효정 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- 1. 맞춤 트레이너 리스트 조회 (전효정) -->
	<select id="selectRecommendTrainerList" resultMap="selectRecommendTrainerList">
		SELECT * FROM MEMBER M JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE M.MTYPE = 'T' AND TI.TOPEN = 'Y' AND TI.TAGE = #{hopeAge} AND M.GENDER = #{hopeGender} AND 
		<foreach collection="hopeExerciseArr" item="item" index="index" open="(" separator="OR" close=")" >
			<choose>
				<when test="item != null">
				  P.KEYWORD LIKE '%' || #{item} || '%' 
				</when>
			</choose>
		</foreach>
	</select>
	
	<!-- 2. 설문조사/키워드 조회 (전효정) -->
	<select id="selectSurvey" resultMap="surveyResultSet">
		SELECT * FROM SURVEY WHERE UNO = #{mno}
	</select>
	
	<!-- 3. 셀프 트레이너 검색 리스트 조회 (전효정) -->
	<select id="selectSearchTrainerList" resultMap="selectRecommendTrainerList" parameterType="java.util.Map">
		SELECT * FROM MEMBER M JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE M.MTYPE = 'T' AND TI.TOPEN = 'Y' 
			<if test='searchServiceKeyword != null and !searchServiceKeyword.equals("")'>
				AND P.KEYWORD LIKE '%' || #{searchServiceKeyword} || '%'
			</if>
			<if test='searchTrainerAge != null and searchTrainerAge != "전체"'>
				AND TI.TAGE = #{searchTrainerAge}
			</if>
			<if test='searchTrainerGender != null and searchTrainerGender != "전체"'>
				AND M.GENDER = #{searchTrainerGender}
			</if>
			<if test='searchTrainerName != null and !searchTrainerName.equals("")'>
				AND M.NAME = #{searchTrainerName}
			</if>
	</select>
	
	<!-- 4. 프로필 이미지 존재 여부 확인 메소드 (전효정) -->
	<select id="checkProfileImg" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT FILE_NO, PNO, ORI_NAME, MODI_NAME, EXTENSION, FILE_LEVEL, UPLOAD_DATE, A_STATUS, FILE_PATH FROM ATTACHMENT WHERE PNO IN (#{tno}) AND ATYPE = 0
	</select>
	
	<!-- 5. 프로필 작성 여부 확인 (전효정) -->
	<select id="checkProfile" resultMap="profileResultSet" parameterType="Profile">
		SELECT PROFILE_NO, LINE_PROFILE, PRO_TITLE, INTRO, MEDIA, CERTIPICATE, KEYWORD FROM PROFILE WHERE TNO IN (#{tno})
	</select>
	
	<!-- 6. 미디어 존재 여부 확인 메소드 (전효정) -->
	<select id="checkMediaAttachment" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT * FROM ATTACHMENT WHERE PNO = #{tno} AND ATYPE = 1 AND A_STATUS = 'Y' ORDER BY FILE_NO ASC
	</select>
	
	<!-- 7. 자격증 존재 여부 확인 메소드 (전효정) -->
	<select id="checkCertificationAttachment" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT * FROM ATTACHMENT WHERE PNO = #{tno} AND ATYPE = 2 AND A_STATUS = 'Y' ORDER BY FILE_NO ASC
	</select>
	
	<!-- 8. 마이트레이너 insert (전효정) -->
	<insert id="insertMyTrainer">
		INSERT INTO M_PROCESS VALUES(MPROCESS_SEQ.NEXTVAL, NULL, #{uno}, #{tno}, 0, NULL, '매칭전', 'RECEIVE', NULL, NULL, NULL, NULL, SYSDATE)
	</insert>
	
	<!-- 9. 마이트레이너 리스트 조회 (전효정) -->
	<select id="selectMyTrainer" resultMap="selectRecommendTrainerList">
		SELECT * FROM MEMBER M JOIN M_PROCESS MP ON(MP.TNO = M.MNO) JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE MP.UNO = #{mno} AND MP.TRANSFER_STATUS = 'RECEIVE'
	</select>
	
	<!-- 10. 마이트레이너 존재 여부 확인 (전효정) -->
	<select id="selectOneMyTrainer" resultMap="mprocessResultSet">
		SELECT * FROM M_PROCESS WHERE UNO = #{mno} AND TNO = #{tno} AND TRANSFER_STATUS = 'RECEIVE' 
	</select>
	
	<!-- 11. 마이트레이너 delete (전효정) -->
	<delete id="deleteMyTrainer">
		DELETE FROM M_PROCESS WHERE UNO = #{uno} AND TNO = #{tno} AND MATCHING_LEVEL = 0
	</delete>
	
	<!-- 12. 매칭 시작 트레이너 조회 (전효정) -->
	<select id="selectOneMatchingTrainer" resultMap="selectRecommendTrainerList">
		SELECT * FROM MEMBER M JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE MNO = #{tno}
	</select>
	
	<!-- 13. 다이어트 정보 보내기 - 회원 설문조사 selectOne (전효정) -->
	<select id="selectOneSurvey" resultMap="surveyResultSet">
		SELECT * FROM SURVEY WHERE UNO = #{mno}
	</select>
	
	<!-- 14. 내 정보 보낸 후 mprocess update (전효정) -->
	<update id="updateMprocess1">
		UPDATE M_PROCESS SET MATCHING_LEVEL = 1, MATCHING_STATUS = '진행중', TRANSFER_STATUS = 'RECEIVE', PROCESS_DATE = SYSDATE WHERE UNO = #{mno} AND TNO = #{tno}
	</update>
	
	<!-- 15. 매칭 요청 후  mprocess update (전효정) -->
	<update id="updateMprocess3">
		UPDATE M_PROCESS SET MATCHING_LEVEL = 3, MATCHING_STATUS = '진행중', PROCESS_DATE = SYSDATE WHERE UNO = #{mno} AND TNO = #{tno}
	</update>
	
	<!-- 16. 리뷰작성하기 폼으로 회원정보 보여주기(김진환) -->
	<select id="trainerReviewForm" resultMap="selectRecommendTrainerList">
		SELECT * FROM MEMBER M JOIN PROFILE P ON(M.MNO = P.TNO) JOIN TUSER_INFO TI ON(M.MNO = TI.TNO) WHERE MNO = #{tno}
	</select>
	
	<!-- 17. 리뷰 작성 insert(김진환) -->
	<insert id="insertTrainerReview" parameterType="java.util.Map">
		INSERT INTO TRAINER_REVIEW
		VALUES(TR_SEQ.NEXTVAL, SYSDATE, NULL, #{title}, #{uno}, #{content}, NULL, #{starRating}, #{tno}, 0, #{name})
	
	</insert>
		
	<!-- 18. 트레이너에게 리뷰 작성했는지 체크(김진환) -->	
	<select id="trainerReviewCheck" parameterType="java.util.Map" resultType="_int">
		SELECT COUNT(*)
		FROM TRAINER_REVIEW
		WHERE TNO = #{tno} 
		AND REVIEW_WRITER = #{uno}		
	</select>
	
	<select id="trainerReviewShow" parameterType="java.util.Map" resultMap="TrainerReviewResultSet">
		SELECT *
		FROM TRAINER_REVIEW TR
		JOIN ATTACHMENT A ON(TR.REVIEW_WRITER = A.PNO)
		WHERE A.ATYPE = 0
		AND TR.TNO = #{tno}	
	</select>
	
	<select id="reviewCount" resultType="_int">
		SELECT COUNT(*)
		FROM TRAINER_REVIEW
		WHERE TNO = #{tno}	
	</select>	
	
	<select id="reviewRating" resultType="_double">
		SELECT TRUNC(AVG(REVIEW_RATING), 1)
		FROM TRAINER_REVIEW
		WHERE TNO = #{tno}	
	
	</select>



</mapper>