<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="VARCHAR"/>
</settings>
	 <typeAliases>
  		<typeAlias type="com.kh.amd.member.model.vo.Member" alias="Member"/>
  		<typeAlias type="com.kh.amd.member.model.vo.TrainerInfo" alias="TrainerInfo"/>
  		<typeAlias type="com.kh.amd.survey.model.vo.Survey" alias="Survey"/>
  		<typeAlias type="com.kh.amd.trainer.model.vo.Profile" alias="Profile"/>
  		<typeAlias type="com.kh.amd.board.model.vo.Board" alias="Board"/>
  		<typeAlias type="com.kh.amd.trainer.model.vo.Estimate" alias="Estimate"/>
  		<typeAlias type="com.kh.amd.board.model.vo.Declaration" alias="Declaration"/>
  		<typeAlias type="com.kh.amd.attachment.model.vo.Attachment" alias="Attachment"/>
  		<typeAlias type="com.kh.amd.mission.model.vo.Mission" alias="Mission"/>
  	</typeAliases>

  	
  	
  	<mappers>
  		<mapper resource="mappers/member-mapper.xml"/> <!-- 이 파일의 쿼리를 사용한다. -->
  		<mapper resource="mappers/survey-mapper.xml"/>
  		<mapper resource="mappers/trainer-mapper.xml"/>
  		<mapper resource="mappers/board-mapper.xml"/>
  		<mapper resource="mappers/declaration-mapper.xml"/>
  		<mapper resource="mappers/mission-mapper.xml"/>
  	</mappers>
</configuration>
  

  
